

### veri sorgulama

SELECT * FROM ogrenciler;

ogrenciler tablosundaki tüm satırları ve tüm sütunları getirir

SELECT ad, soyad, sinif
FROM ogrenciler
WHERE cinsiyet = 'Kadın' AND sinif >= 10
ORDER BY soyad ASC;

cinsiyet = 'Kadın': Sadece kız öğrencileri filtreler.

sinif >= 10: 10. sınıf ve üzerini getirir.

ORDER BY soyad ASC: Soyada göre A-Z sıralar.


### tablo silme

DROP TABLE ogrenciler;

ogrenciler tablosunu veritabanından tamamen siler. Veriler geri alınamaz!

### gruplama ve sayma

SELECT sinif, COUNT(*) AS ogrenci_sayisi
FROM ogrenciler
GROUP BY sinif
ORDER BY ogrenci_sayisi DESC;

Her sınıftaki öğrenci sayısını listeler.

En kalabalık sınıf en üstte görünür.

### Kullanıcı Oluşturma ve Yetkilendirme

CREATE USER 'ogrenci_kullanici'@'localhost' IDENTIFIED BY 'sifre123';

GRANT SELECT, INSERT ON okul.* TO 'ogrenci_kullanici'@'localhost';

ogrenci_kullanici adında bir kullanıcı oluşturulur.

Sadece veri görüntüleme (SELECT) ve ekleme (INSERT) izni verilir.

örnek soru
ogrenciler – Öğrenci bilgileri

bolumler – Öğrencilerin kayıtlı olduğu bölümler

dersler – Üniversite dersleri

notlar – Öğrencilerin aldığı dersler ve notları

In [ ]:
-- Bölümler tablosu
CREATE TABLE bolumler (
    bolum_id INT PRIMARY KEY AUTO_INCREMENT,
    bolum_adi VARCHAR(100) NOT NULL
);

-- Öğrenciler tablosu
CREATE TABLE ogrenciler (
    ogrenci_id INT PRIMARY KEY AUTO_INCREMENT,
    ad VARCHAR(50),
    soyad VARCHAR(50),
    dogum_tarihi DATE,
    bolum_id INT,
    FOREIGN KEY (bolum_id) REFERENCES bolumler(bolum_id)
);

-- Dersler tablosu
CREATE TABLE dersler (
    ders_id INT PRIMARY KEY AUTO_INCREMENT,
    ders_adi VARCHAR(100),
    kredi INT
);

-- Notlar tablosu
CREATE TABLE notlar (
    not_id INT PRIMARY KEY AUTO_INCREMENT,
    ogrenci_id INT,
    ders_id INT,
    vize INT,
    final INT,
    FOREIGN KEY (ogrenci_id) REFERENCES ogrenciler(ogrenci_id),
    FOREIGN KEY (ders_id) REFERENCES dersler(ders_id)
);