Matematiksel Fonksiyonlar
 ABS(): Parametre olarak verilen değerin mutlak değerini bulur.
 SELECT ABS(2); Sonuç =2
 MOD(): Parametre olarak verilen iki değerin bölümünden kalanını verir.
 SELECT MOD(234,10); Sonuç=4
 SQRT(): Parametre olarak verilen değerin karekökünü verir.
 SELECT SQRT (4) ; Sonuç=2

Değer atamak için := veya = operatörleri kullanılır.

Değişkenler küçük-BÜYÜK harfe duyarlı değildir.

Yani @id ile @ID aynıdır.

MySQL integer, float, decimal, string ve NULL değişken tiplerini destekler.

MySQL değişkenleri sadece geçerli kullanıcı ve oturumda kullanılır

 tablo_adi READ|WRITE;
READ: Diğer oturumlar tarafından tabloya kayıt ekleme, silme ve güncelleme yapılamaz. Sadece veriler okunur.

WRITE: Diğer oturumlar tarafından tüm istekleri engeller.

WHERE– belirtilen koşullara göre satırları filtrelemek için WHERE deyimini nasıl kullanacağınızı öğrenin.
AND – verileri filtrelemek için karmaşık bir koşul oluşturmak üzere Boole ifadelerini birleştirmek üzere AND işlecine tanıtın.
OR– sizi OR operatörüne tanıtın ve verileri filtrelemek için OR operatörünü AND operatörü ile nasıl birleştireceğinizi gösterin.
IN – bir değerin bir listedeki veya alt sorgudaki herhangi bir değerle eşleşip eşleşmediğini belirlemek için IN operatörünü WHERE deyiminde nasıl kullanacağınızı gösterir.
BETWEEN – BETWEEN operatörünü kullanarak bir aralığa göre verilerin sorgulanmasını gösterir.
LIKE – belirli bir desene dayanarak verileri sorgulama tekniğini sağlar.
LIMIT – SELECT ifadesinin döndürdüğü satır sayısını sınırlamak için LIMIT kullanın.
IS NULL – IS NULL işleci kullanarak bir değerin NULL olup olmadığını sınayın.

C: Create (Oluştur)

R: Read (Oku)

U: Update (Güncelle)

D: Delete (Sil)

### veritabanı oluşturma

CREATE DATABASE OkulYonetimi;
Bu komutla OkulYonetimi adında bir veritabanı oluşturursun. Artık bu veritabanı içinde tablolar oluşturabilirsin.

### tablo oluşturma

daha öncede yaptığımız gibi buna benzer bir kodla tablo oluşturabiliriz

CREATE TABLE Ogrenciler (
    OgrenciID INT PRIMARY KEY,
    Ad VARCHAR(50),
    Soyad VARCHAR(50),
    DogumTarihi DATE
);

INT: Sayısal değerler için (tamsayı)

VARCHAR(50): Maksimum 50 karakterlik metin

DATE: Tarih verisi

PRIMARY KEY: Her satır için benzersiz olan sütun (kimlik)

### tabloya veri ekleme

Bir tabloya veri eklemek için INSERT INTO komutu kullanılır
INSERT INTO ... VALUES (...) şeklinde çalışır.

INSERT INTO Ogrenciler (OgrenciID, Ad, Soyad, DogumTarihi)
VALUES (1, 'Ahmet', 'Yılmaz', '2005-05-12');

### veri silme

Kayıt silmek için DELETE kullanılır.

DELETE FROM Ogrenciler
WHERE OgrenciID = 1;

### tablo birleştirme

Tablo ve Sütun takma adları (alias) – sizi tablo ve sütun takma adları ile tanıştırır.
JOIN – size MySQL’de desteklenen inner join, left join ve right join dahil olmak üzere genel bir bakış sunar.
INNER JOIN – Başka bir tabloda eşleşen satırları olan bir tablodaki satırları sorgula.
LEFT JOIN – soldaki tablodaki tüm satırları ve sağdaki tablodaki eşleşen satırları döndürür, sağdaki tabloda eşleşen satır bulunmazsa null değerini döndürür.
RIGHT JOIN – tüm satırları sağdaki tablodan ve eşleşen satırları soldaki tablodan döndür, yoksa soldaki tabloda eşleşen satır bulunamadı.
CROSS JOIN – Birden fazla tablodaki satırların Kartezyen ürününü oluşturun.
Kendiliğinden birleştirme – tablo diğer adını kullanarak bir tabloya kendiliğinden katılın ve aynı tablodaki satırları iç birleştirme ve sol birleştirme kullanarak bağlayın.