### temel komutlar

-- Veritabanı oluşturma
CREATE DATABASE okul;

-- Veritabanı seçme
USE okul;

-- Tablo oluşturma
CREATE TABLE ogrenciler (
    id INT AUTO_INCREMENT PRIMARY KEY,
    ad VARCHAR(50),
    soyad VARCHAR(50),
    dogum_tarihi DATE
);

-- Veri ekleme
INSERT INTO ogrenciler (ad, soyad, dogum_tarihi)
VALUES ('Ahmet', 'Yılmaz', '2002-03-15');

-- Veri listeleme
SELECT * FROM ogrenciler;

-- Veri güncelleme
UPDATE ogrenciler SET soyad = 'Demir' WHERE id = 1;

-- Veri silme
DELETE FROM ogrenciler WHERE id = 1;

### e ticaret sistemi örnek soru

-- Veritabanı oluştur
CREATE DATABASE eticaret;
USE eticaret;

-- Müşteriler
CREATE TABLE musteriler (
    id INT AUTO_INCREMENT PRIMARY KEY,
    ad VARCHAR(50),
    soyad VARCHAR(50),
    email VARCHAR(100),
    kayit_tarihi DATETIME DEFAULT NOW()
);

-- Ürünler
CREATE TABLE urunler (
    id INT AUTO_INCREMENT PRIMARY KEY,
    urun_adi VARCHAR(100),
    fiyat DECIMAL(10,2),
    stok INT
);

-- Siparişler
CREATE TABLE siparisler (
    id INT AUTO_INCREMENT PRIMARY KEY,
    musteri_id INT,
    siparis_tarihi DATETIME DEFAULT NOW(),
    FOREIGN KEY (musteri_id) REFERENCES musteriler(id)
);

-- Sipariş Detayları (çoktan çoğa ilişki)
CREATE TABLE siparis_detaylari (
    id INT AUTO_INCREMENT PRIMARY KEY,
    siparis_id INT,
    ur

### personel ve maaş takibi örnek soru

-- Personel tablosu
CREATE TABLE personel (
    id INT AUTO_INCREMENT PRIMARY KEY,
    ad VARCHAR(50),
    soyad VARCHAR(50),
    maas DECIMAL(10,2),
    departman VARCHAR(50)
);

-- Örnek sorgu: departmana göre maaş düzenlemesi
SELECT 
    id,
    ad,
    departman,
    maas,
    CASE 
        WHEN departman = 'Yönetim' THEN ROUND(maas * 1.2, 2)
        WHEN departman = 'Teknik' THEN ROUND(maas * 1.1, 2)
        ELSE maas
    END AS yeni_maas
FROM personel;

### otomatik yaş hesaplama örnek soru

-- Öğrenciler tablosu
CREATE TABLE ogrenciler (
    id INT AUTO_INCREMENT PRIMARY KEY,
    ad VARCHAR(50),
    dogum_tarihi DATE
);

-- Yaş hesaplayan fonksiyon
DELIMITER //
CREATE FUNCTION yas_hesapla(dogum DATE)
RETURNS INT
DETERMINISTIC
BEGIN
    RETURN YEAR(CURDATE()) - YEAR(dogum);
END;
//
DELIMITER ;

-- Kullanımı:
SELECT ad, yas_hesapla(dogum_tarihi) AS yas FROM ogrenciler;